{% extends "game/layout.html" %}
{% load static %}

{% block title %}
Game {{ game.id }}
{% endblock %}

{% block body %}

    {% if message %}
        <div class="container-fluid bg-danger-subtle text-center text-danger-emphasis border-top border-bottom border-danger-subtle my-3 py-2 fs-6">
            {{ message }}
        </div>
    {% endif %}
    <section>
        <div class="container-fluid text-center pt-3">
            <h1 class="pb-3">Game <span id="game-id">{{ game.id }}</span></h1>
            <div class="h3" id="game-information"></div>
            <div class="py-3 h4" id="turn"></div>
        </div>

        <div class="container text-center my-4" id="game-grid">
        </div>
        
        <div class="container text-center mt-4" id="end_button">
            <a type="button" class="btn btn-outline-info btn-lg" href="{% url 'end_game' game_id=game.id %}">End Game</a>
        </div>        
    </section>


    <div class="container text-center mt-3" style="display: none;" id="index_button">
        <h2 class="pb-3">Game Ended.</h2>
        <a type="button" class="btn btn-outline-info btn-lg" href="{% url 'index' %}">Main Page</a>
    </div>
    
    
    <div
        id="data"
        data-user="{{ user }}"
        data-player1="{{ game.player1.username }}"
    ></div>    
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'game/gameTable.js' %}"></script>
{% endblock %}