{% extends "game/layout.html" %}
{% load static %}

{% block title %}
TicTacToe
{% endblock %}

{% block body %}

    {% if message %}
        <div class="container-fluid bg-danger-subtle text-center text-danger-emphasis border-top border-bottom border-danger-subtle my-3 py-2 fs-6">
            {{ message }}
        </div>
    {% endif %}

    <div class="container-fluid text-center pt-3">
        <h1>Waiting Games</h1>
    </div>

    <div class="container text-center pt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4 gx-5 justify-content-center" id="waiting_games_div">
        </div>
    </div>

    <div class="container-fluid text-center pt-3">
        <h1>Started Games</h1>
    </div>

    <div class="container text-center pt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4 gx-5 justify-content-center" id="started_games_div">
        </div>
    </div>

    <div class="container text-center pt-5">
        <a type="button" class="btn btn-outline-info btn-lg" href="{% url 'create_game' %}">Create Room</a>
    </div>


{% endblock %}

{% block script %}
    <script type="module" src="{% static 'game/index.js' %}"></script>
{% endblock %}